.formHolder{
    border: 8px solid rgba(0,0,0,0.6);
    border-radius: 8px;
    padding: 30px;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px #000000;
}

.subholder{
    border: 8px solid rgba(0,0,0,0.6);
    margin: 15px;
    margin-top: 100px;
    border-radius: 8px;
    padding: 30px;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px #000000;
}

.formHolder::before{
    content: url(../images/VMA.png);
}

.formElement{
    padding: 15px;
}

.formHolder label{
    margin-right: 50px;
    width: 150px;
    display: inline-block;
}

.formHolder textarea{
    width: 500px;
    height: 100px;
    color: yellow;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid black;
    padding: 15px;
    box-shadow: 0px 0px 8px #000000;

}

.formHolder input{
    color: yellow;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid black;
    padding: 15px;
    box-shadow: 0px 0px 8px #000000;

}

.formHolder select{
    color: yellow;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid black;
    padding: 15px;
    box-shadow: 0px 0px 8px #000000;

}

.formHolder option{
     color: yellow;
     background-color: rgba(0,0,0,0.9);
     border: 1px solid black;
     padding: 15px;
     box-shadow: 0px 0px 8px #000000;

 }

 .formHolder button{
     color: yellow;
     background-color: rgba(0,0,0,0.5);
     border: 1px solid black;
     padding: 15px;
     box-shadow: 0px 0px 8px #000000;
     display: inline-block;
 }