@font-face {
    font-family: cabin;
    src: url("../Fonts/cabin.regular.ttf");
}

@font-face {
    font-family: nunito;
    src: url("../Fonts/nunito/Nunito-Regular.ttf");
}

@font-face {
    font-family: land;
    src: url("../Fonts/CARIMA.TTF");
}


@font-face {
    font-family: norse;
    src: url("../Fonts/viking/Viking.ttf");
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #C33700;
  color: #FEFD49;
  font-family: 'nunito', sans-serif;
}

table{
    padding: 30px;
}

td{
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
}

.void{
   background-color:navy;
   color:white;
}

html:not([data-seerOf=void]) .void {
  display:none;
}

#output {
  margin: 25px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 13px solid #FF8800f;
  background-color: #D66E04;
  border-radius: 13px;
  width: 1000px;
}

.prepack-icon{
    max-width: 100px;
}

.shadows{
   filter: contrast(0%) brightness(10%);
}

.frameAnimation{
    animation: frameAnimation 2.0s steps(1) infinite;
}

.frameAnimation:hover{
    background-position: -980px;
}

@keyframes frameAnimation {
   0% { background-position: 0px; }
   50% { background-position: -980px; }
   0% { background-position: 0px; }
}

.turnways{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.stage{
    display: block;
    border: 3px solid black;
}

.scene{
    padding: 10px;
}

.passed{
    background-color: green;
    padding: 5px;
}

.failed{
    background-color: red;
    padding: 5px;
}

#left-arrow{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    bottom: 60px;
    left: 182px;
}

#right-arrow{
}

.arrow{
    cursor: pointer;
    display: inline-block;
    padding: 5px;
}