@font-face {
    font-family: cabin;
    src: url("../Fonts/cabin.regular.ttf");
}

@font-face {
    font-family: nunito;
    src: url("../Fonts/nunito/Nunito-Regular.ttf");
}

@font-face {
    font-family: land;
    src: url("../Fonts/CARIMA.TTF");
}


@font-face {
    font-family: norse;
    src: url("../Fonts/viking/Viking.ttf");
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #C33700;
  color: #FEFD49;
  font-family: 'nunito', sans-serif;
}

#output {
  margin: 25px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 13px solid #FF8800f;
  background-color: #D66E04;
  border-radius: 13px;
  width: 1000px;
}

.scene{
    padding: 10px;
}

.passed{
    background-color: green;
    padding: 5px;
}

.failed{
    background-color: red;
    padding: 5px;
}

#left-arrow{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    bottom: 60px;
    left: 182px;
}

#right-arrow{
}

.arrow{
    cursor: pointer;
    display: inline-block;
    padding: 5px;
}